<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <title>Admin| View Hostel</title>
  <style>
    .custom-btn {
      background-color: #ff8600;
      color: black;
      border: none;
    }

    .custom-btn:hover {
      background-color: black;
      color: #ff8600;
    }

    .custom-alert {
      background-color: #333434;
      color: white;
    }
  </style>

  <%- include('./nav.ejs') %>
</head>

<body>
  <!-- Loading Modal -->
  <div class="modal fade" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loadingModalLabel">Loading...</h5>
        </div>
        <div class="modal-body">
          <!-- Loading spinner -->
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Confirmation Modal -->
  <div class="modal" tabindex="-1" id="confirmationModal" data-bs-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to reset the hostel?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="confirmNoButton" data-bs-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary" id="confirmYesButton">Yes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Acknowledgement Modal -->
  <div class="modal" tabindex="-1" id="acknowledgementModal" data-bs-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Succesfully</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="refreshButton"></button>
        </div>
        <div class="modal-body">
          Hostel reset succesfully! <b><u>enrollmentActivity is set to "false" automatically</u></b>, please change it as per your needs.
        </div>
      </div>
    </div>
  </div>

  <div id="editFormContainer" style="display: none;">
    <!-- Edit form will be dynamically generated here -->
  </div>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-10 text-center">
        <h1>View Hostel Details</h1>
        <hr class="my-4 border-4">
      </div>
    </div>
  </div>

  <div class="container">
    <% if (Array.isArray(hostelData) && hostelData.length === 0) { %>
    <div class="container">
      <div class="alert alert-info custom-alert" role="alert">
        No hostels found. Click <a href="/hostel/createHostel" class="btn btn-primary custom-btn mx-2">Add Hostel</a> to add a hostel.
      </div>
    </div>
    <% } else { %>
    <table class="table table-bordered mb-5">
      <thead>
        <tr>
          <th>Hostel Name</th>
          <th>Total Floors</th>
          <th>Occupancy Per Room</th>
          <th>Vacant seats</th>
          <th>Type of Hostel</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% hostelData.forEach(function(hostel) { %>
        <tr data-hostel='<%- JSON.stringify(hostel) %>'>
          <td><a href="/hostel/hostelLayout?hostelID=<%= hostel._id %>"><%= hostel.hostelName %></a></td>
          <td><%= hostel.totalFloors %></td>
          <td><%= hostel.occupancyPerRoom %></td>
          <td>0</td>
          <td><%= hostel.hostelType %></td>
          <td><%= hostel.status %></td>
          <td>
            <button type="button" class="btn btn-warning" id="<%= hostel._id %>" onclick="showEditForm(this)">
              <i class="fas fa-edit"></i>
            </button>
            <button type="button" class="btn btn-danger" id="<%= hostel._id %>" onclick="resetPopUp(this)">
              <i class="fas fa-sync"></i>
            </button>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <% } %>
  </div>

</body>

<script>
  function showEditForm(button) {
    const editFormContainer = document.getElementById('editFormContainer');
    const rowData = button.closest('tr').getAttribute('data-hostel');
    const hostelDetails = JSON.parse(rowData);

    if (hostelDetails) {
      // Construct the edit form HTML with the fetched details
      const editFormHtml = `
        <div class="container mt-5">
          <div class="row justify-content-center">
            <div class="col-md-10 text-center">
              <h1>Update Hostel Details</h1>
              <hr class="my-4 border-4">
            </div>
          </div>
        </div>
        <div class="container">
          <form action="/hostel/api/update/?id=${hostelDetails._id}" method="post" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="hostelName" class="form-label">Hostel Name</label>
              <input type="text" class="form-control" name="hostelName" value="${hostelDetails.hostelName}" required>
            </div>
            <div class="mb-3">
              <label for="photo" class="form-label">Hostel Photos</label>
              <input type="file" class="form-control" name="hostelPhotos" multiple>
            </div>
            <div class="mb-3">
              <label for="totalFloors" class="form-label">Total Number of Floors</label>
              <input type="number" class="form-control" name="totalFloors" value="${hostelDetails.totalFloors}" required>
            </div>
            <div class="mb-3">
              <label for="roomsPerFloor" class="form-label">Number of Rooms on each Floor</label>
              <input type="number" class="form-control" name="roomsPerFloor" value="${hostelDetails.roomsPerFloor}" required>
            </div>
            <div class="mb-3">
              <label for="occupancyPerRoom" class="form-label">Number of occupancy in each room</label>
              <input type="number" class="form-control" name="occupancyPerRoom" value="${hostelDetails.occupancyPerRoom}" required>
            </div>
            <div class="mb-3">
              <label for="hostelAddress" class="form-label">Hostel Address</label>
              <input type="text" class="form-control" name="hostelAddress" value="${hostelDetails.hostelAddress}" required>
            </div>
            <div class="mb-3">
              <label for="rulesAndRegulations" class="form-label">Hostel Rules and Regulations</label>
              <textarea class="form-control" rows="4" name="rulesAndRegulations" required>${hostelDetails.rulesAndRegulations}</textarea>
            </div>
            <div class="mb-3">
              <label for="hostelType" class="form-label">Type of Hostel</label><br>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="hostelType" value="male" required ${
                  hostelDetails.hostelType === 'male' ? 'checked' : ''
                }>
                <label class="form-check-label" for="maleHostel">Male</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="hostelType" value="female" required ${
                  hostelDetails.hostelType === 'female' ? 'checked' : ''
                }>
                <label class="form-check-label" for="femaleHostel">Female</label>
              </div>
            </div>
            <div class="mb-3">
              <label for="status" class="form-label">Hostel Status</label><br>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="status" value="true" required ${
                  hostelDetails.status === 'true' ? 'checked' : ''
                }>
                <label class="form-check-label" for="true">True</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="status" value="false" required ${
                  hostelDetails.status === 'false' ? 'checked' : ''
                }>
                <label class="form-check-label" for="false">False</label>
              </div>
            </div>
            <div class="mb-3">
              <label for="status" class="form-label">Enrollnment Activity</label><br>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="enrollmentActivity" value="true" required ${
                  hostelDetails.enrollmentActivity === 'true' ? 'checked' : ''
                }>
                <label class="form-check-label" for="true">True</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="enrollmentActivity" value="false" required ${
                  hostelDetails.enrollmentActivity === 'false' ? 'checked' : ''
                }>
                <label class="form-check-label" for="false">False</label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
          </form>
        </div>
      `;

      // Set the innerHTML of the editFormContainer
      editFormContainer.innerHTML = editFormHtml;

      // Show the edit form container
      editFormContainer.style.display = 'block';
    }
  }

  function resetPopUp(button) {
    const editFormContainer = document.getElementById('editFormContainer');
    const rowData = button.closest('tr').getAttribute('data-hostel');
    const hostelDetails = JSON.parse(rowData);

    if (hostelDetails) {
      // Show Bootstrap modal for confirmation
      const confirmationModal = new bootstrap.Modal(document.getElementById('confirmationModal'));
      confirmationModal.show();

      // Set up event listener for the "Yes" button in the modal
      document.getElementById('confirmYesButton').addEventListener('click', async function() {
        try {
          confirmationModal.hide();

          const loadingModal = new bootstrap.Modal(document.getElementById('loadingModal'));
          loadingModal.show();

          const result = await fetch('/admin/api/resetHostel', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              hostelID: hostelDetails._id
            }),
          });

          if (result.status === 200) {
            await result.json();

            loadingModal.hide();
            const acknowledgementModal = new bootstrap.Modal(document.getElementById('acknowledgementModal'));
            acknowledgementModal.show();
          } else {
            await result.json();

            const queryString = `?headingMessage=${encodeURIComponent('Something went wrong')}&paragraphMessage=${encodeURIComponent('Error while reseting hostel data. Try to reset hostel data again!')}&newRoute=${encodeURIComponent('/admin/dashboard')}`;

            window.location.href = '/response/error' + queryString;
          }
        } catch (error) {

          const queryString = `?headingMessage=${encodeURIComponent('Something went wrong')}&paragraphMessage=${encodeURIComponent('Error while reseting hostel data. Try to reset hostel data again!')}&newRoute=${encodeURIComponent('/admin/dashboard')}`;

          window.location.href = '/response/error' + queryString;
        }
      });

      // Set up event listener for the "No" button in the modal
      document.getElementById('confirmNoButton').addEventListener('click', function() {
        // Close the modal
        confirmationModal.hide();
      });

      document.getElementById('refreshButton').addEventListener('click', function() {
        // Reload the page
        location.reload();
      });
    }
  }
</script>

</html>